extends layout

block content
  h1 Palindrome Checker
  form(method="post" action="/")
    label(for="userText") Enter your text here:
    br
    input(type="text" id="userText" name="userText")
    br
    br
    button(type="submit") Submitblock content
    br
    h2 What is a Palindrome?
    p  A Palindrome is a word that can be written backwards and it stays as the same word.
    br
    h2 For example
    h4 Madam
    h4 Civic
    h4 Level

  if message
    p=message